html {
  --color-accent: oklch(65% 50% 0);
  color: oklch(20% 0% 0);
  accent-color: var(--color-accent);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 2rem;
}

nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid oklch(80% 3% 200);
  margin-bottom: 2rem;
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: calc(0.5em - 0.4em);
  background-color: oklch(from var(--color-accent) 95% 5% h);
}

nav a.current {
  font-weight: bold;
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: calc(0.5em - 0.4em);
}
