body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;    
    margin-inline: auto;      
    padding: 2rem; 
  }

  nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

nav a:hover {
  color: purple;
}

nav a.current {
  font-weight: bold;
  color: purple;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid oklch(80% 3% 200);
  margin-bottom: 2rem;
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;  
  color: inherit;         
  padding: 0.5em;        
}

nav a.current {
  font-weight: bold;  
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: calc(0.5em - 0.4em); 
}